{% extends 'admin/base.html' %}  <!-- inheriting from base.html -->
{% load static %} <!-- The static tag is used to generate URLs for static files (such as stylesheets,
JavaScript files, images, etc.) -->

{% block title %} BT Real Estate | Admin Area {% endblock %}

{% block branding %}
    <h1 id="head">
        <img src="{% static 'img/logo.png' %}" alt="BT Real Estate" class="brand_img"
        height="50" width="80"> Admin Area
    </h1>
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}" class="">
{% endblock %}

